

.label {
    height: 200px;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-404 {
    outline: none;
    border: none;
    font-size:14px;
    padding: 8px;
    width: 200px;
    background: #0070F3;
    color: white;
    box-shadow: 0px 5px 10px 0px #0071f37e;
    margin-left: 41%;
}
