<div class="container">
    <h2 class="header-title">Hello there,</h2>
    <p info-para>
        my name is Symi, and I use javascript and various javascript technologies to build web applications. I've worked on 
        projects like e-commerce applications, and insurance name your price tools. I havwe been a developer for 3 years now
        and and am still constantly working to improve. Going beyond the world of programming, I have also been working on 
        some DevOps projects. I try to work on documenting the process (although I'm not always the best at it), so feel free to 
        follow me on social media!
    </p>
        <ul>
            <li>
                <a href="">
                    <button class="github">Github</button>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/symien-moore/">
                    <button class="linkedin">Linkedin</button>   
                </a>
            </li>
            <li>
                <a href="">
                    <button class="instagram">Instagram</button>
                </a>
            </li>
        </ul>
</div>
