<div class="container">
    <div class="row drop">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Filter Posts</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem><a [routerLink]='["/posts"]'>All</a></button>
              <button ngbDropdownItem><a [routerLink]='["/posts/networking"]'>Networking</a></button>
              <button ngbDropdownItem><a [routerLink]='["/posts/programming"]'>Programming</a></button>
              <button ngbDropdownItem><a [routerLink]='["/posts/operations"]'>Operations</a></button>
            </div>
          </div>
        </div>
    <div class="card-holder">
        <div class="col-sm card" *ngFor="let post of posts | slice: (page-1) * pageSize : page * pageSize">
            <h5>{{ post.title }}</h5>
            <p>{{ post.created_at | date }}</p>
            <a [routerLink]="['/post', post._id]">See More</a>
        </div>
    </div>
    <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="posts.length"
    [boundaryLinks]="true"></ngb-pagination>
</div>

