
.hero{
    width: 100%;
    font-family: inter;
    background-image: url('../../../assets/mountainlg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    object-fit: cover;
    width: 100%;
    height: 500px;
    color: rgb(255, 255, 255);
    
    font-weight: bold;
}

 .hero-text {
    padding: 10% 0 0 50px;
    font-size: 2.5em;
}
.date {
    font-weight: bold;
    font: inter;
    margin-top: 80px;
    margin-left: 38%;
    border: 1px solid #0070f3;
    color: #0070f3;
    width: 120px;
    padding: 8px;
    text-align: center;
}

.tool-about {
    margin-top: 70px;
}

.frontend-title {
    font-family: inter;
}

.tech-list {
    margin-left: 60px;
}

ul li {
    font-size: .8em;
    margin-left: 20px;
}

.p-name {
    color: #0070f3;
}

@media only screen and (max-width: 600px) {
    .date {
        margin-left: 30%;
    }
}